*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;   
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: 'KoHo', sans-serif;
  }

    .rainyday{
      width: 100%;
      height: 100vh;
      overflow: hidden;
  }
  
  #background{
      width: 100%;
      height: 100%;
  }
  .rainyday h1{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
      font-size: 100px;
      color: white;
      font-family: 'KoHo', sans-serif;
  }
.datos{
  display: flex;
  color: #fff;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  flex-direction: column;}

#inicio{
    visibility: visible;
  }
  
#dp{
  visibility: hidden;
  position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -10%);
      z-index: 1;
      font-size: 30px;
      color: white;
      font-family: 'KoHo', sans-serif;
}  
#mi{
  visibility: hidden;
  position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -10%);
      z-index: 1;
      font-size: 30px;
      color: white;
      font-family: 'KoHo', sans-serif;
}
#el{
  visibility: hidden;
  position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -10%);
      z-index: 1;
      font-size: 10px;
      color: white;
      font-family: 'KoHo', sans-serif;
}
  
#ch{
  visibility: hidden;
  position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -10%);
      z-index: 1;
      font-size: 30px;
      color: white;
      font-family: 'KoHo', sans-serif;
}

.CONT{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  visibility: visible;
}
#clop{
 visibility: hidden;
  display: none;
  position: relative;
  margin: 40px;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 2px;
  color: #fff;
  -webkit-box-reflect: below 0px linear-gradient
  (transparent, #0002);
  transition: 0.5s;
  transition-delay: 0s;
  z-index: 4;
}

.CONT a {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  border: 2px solid #ecf0f1;
  margin: 40px;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 2px;
  color: #fff;
  -webkit-box-reflect: below 0px linear-gradient
  (transparent, #0002);
  transition: 0.5s;
  transition-delay: 0s;
}

.CONT a:hover{
  transition-delay: 1.5s;
  color: #000;
  box-shadow: 0 0 10px #ecf0f1,
  0 0 20px #ecf0f1,
  0 0 40px #ecf0f1,
  0 0 80px #ecf0f1,
  0 0 160px #ecf0f1;
}

.CONT a span{
  position: relative;
  z-index: 100;
}

/* .CONT a:nth-child(2){
  filter: hue-rotate(80deg);
} */

.CONT a::before{
  content: '';
  position: absolute;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 2px;
  background: #ecf0f1;
  box-shadow: 5px -8px 0 #ecf0f1,
              5px  8px 0 #ecf0f1;
  transition: width 0.5s, left 0.5s, height 0.5s,
  box-sahdow 0.5s;
  transition-delay: 1s,0.5s,0s,0s;
}

.CONT a:hover::before{
  width: 60%;
  height: 100%;
  left: -2px;
  box-shadow: 5px 0 0 #ecf0f1,
              5px  0 0 #ecf0f1;
  transition-delay: 0s,0.5s,1s,1s;
}

.CONT a::after{
  content: '';
  position: absolute;
  right: -20px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 2px;
  background: #ecf0f1;
  box-shadow: -5px -8px 0 #ecf0f1,
              -5px  8px 0 #ecf0f1;
  transition: width 0.5s, left 0.5s, height 0.5s,
  box-sahdow 0.5s;
  transition-delay: 1s,0.5s,0s,0s;
}

.CONT a:hover::after{
  width: 60%;
  height: 100%;
  right: -2px;
  box-shadow: -5px 0 0 #ecf0f1,
              -5px  0 0 #ecf0f1;
  transition-delay: 0s,0.5s,1s,1s;
}
@media screen and (max-width:800px ){
.CONT{
 display: flex;
    align-items: stretch;
    position: fixed;
    z-index: 1;
    flex-direction: column;
    width: 100%;
    height: 100%;
  visibility: hidden;
}
  .CONT a {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  border: 2px solid #ecf0f1;
  margin: 10px;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 2px;
  color: #fff;
  -webkit-box-reflect: below 0px linear-gradient
  (transparent, #0002);
  transition: 0.5s;
  transition-delay: 0s;
}
  #clop{
 visibility: visible;
  display: block;
    width: 10%;
}
  #cer{
    display: none;
  }
  #me{
  display: block;
  }
    #me:hover{
  cursor: pointer;}
  #cer:checked ~ .CONT {
  visibility: visible;
  }
}
